Lazarus/wsdlStub/Testing/CIR/10/xsd/Cir.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Rabobank Nederland (Rabobank Nederland) -->
<xs:schema xmlns:tns="http://www.rechtspraak.nl/namespaces/cir01" xmlns:pub="http://www.rechtspraak.nl/namespaces/inspubber01" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rechtspraak.nl/namespaces/cir01" elementFormDefault="qualified">
	<xs:import namespace="http://www.rechtspraak.nl/namespaces/inspubber01" schemaLocation="../xsd/Cir_1.xsd"/>
	<xs:element name="searchByDate">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:searchByDateType">
					<xs:attribute name="attrJanBo"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="searchByDateType">
		<xs:sequence>
			<xs:element name="date" type="s:dateTime"/>
			<xs:element name="court" type="s:string" minOccurs="0"/>
			<xs:element name="pubType" type="tns:ArrayOfString" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfString">
		<xs:sequence>
			<xs:element name="string" type="s:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchByDateResponse" type="tns:searchByDateResponseType"/>
	<xs:complexType name="searchByDateResponseType">
		<xs:sequence>
			<xs:element name="searchByDateResult" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element ref="pub:publicatieLijst"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchInsolvencyID" type="tns:searchInsolvencyIDType"/>
	<xs:complexType name="searchInsolvencyIDType">
		<xs:sequence>
			<xs:element name="insolvencyID" type="s:string" minOccurs="0"/>
			<xs:element name="court" type="s:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchInsolvencyIDResponse" type="tns:searchInsolvencyIDResponseType"/>
	<xs:complexType name="searchInsolvencyIDResponseType">
		<xs:sequence>
			<xs:element name="searchInsolvencyIDResult" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element ref="pub:publicatieLijst"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchNaturalPerson" type="tns:searchNaturalPersonType"/>
	<xs:complexType name="searchNaturalPersonType">
		<xs:sequence>
			<xs:element name="prefix" type="s:string" minOccurs="0"/>
			<xs:element name="surname" type="s:string" minOccurs="0"/>
			<xs:element name="dateOfBirth" type="s:dateTime" minOccurs="0"/>
			<xs:element name="postalCode" type="s:string" minOccurs="0"/>
			<xs:element name="houseNumber" type="s:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchNaturalPersonResponse" type="tns:searchNaturalPersonResponseType"/>
	<xs:complexType name="searchNaturalPersonResponseType">
		<xs:sequence>
			<xs:element name="searchNaturalPersonResult" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element ref="pub:publicatieLijst"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchUndertaking" type="tns:searchUndertakingType"/>
	<xs:complexType name="searchUndertakingType">
		<xs:sequence>
			<xs:element name="name" type="s:string" minOccurs="0"/>
			<xs:element name="commercialRegisterID" type="s:string" minOccurs="0"/>
			<xs:element name="postalCode" type="s:string" minOccurs="0"/>
			<xs:element name="houseNumber" type="s:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchUndertakingResponse" type="tns:searchUndertakingResponseType"/>
	<xs:complexType name="searchUndertakingResponseType">
		<xs:sequence>
			<xs:element name="searchUndertakingResult" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element ref="pub:publicatieLijst"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchModifiedSince" type="tns:searchModifiedSinceType"/>
	<xs:complexType name="searchModifiedSinceType">
		<xs:sequence>
			<xs:element name="modifyDate" type="s:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchModifiedSinceResponse" type="tns:searchModifiedSinceResponseType"/>
	<xs:complexType name="searchModifiedSinceResponseType">
		<xs:sequence>
			<xs:element name="searchModifiedSinceResult" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element ref="pub:publicatieLijst"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getCase" type="tns:getCaseType"/>
	<xs:complexType name="getCaseType">
		<xs:sequence>
			<xs:element name="publicationNumber" type="s:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getCaseResponse" type="tns:getCaseResponseType"/>
	<xs:complexType name="getCaseResponseType">
		<xs:sequence>
			<xs:element name="getCaseResult" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element ref="pub:inspubWebserviceInsolvente"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetLastUpdate" type="tns:GetLastUpdateType"/>
	<xs:complexType name="GetLastUpdateType"/>
	<xs:element name="GetLastUpdateResponse" type="tns:GetLastUpdateResponseType"/>
	<xs:complexType name="GetLastUpdateResponseType">
		<xs:sequence>
			<xs:element name="GetLastUpdateResult" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element ref="pub:lastUpdate"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
