Lazarus/axisDeer/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://new.webservice.namespace" elementFormDefault="qualified"/>
	</wsdl:types>
	<wsdl:message name="NewMessageRequest">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="NewMessageResponse">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="NewMessage"/>
	<wsdl:message name="NewMessage2"/>
	<wsdl:portType name="NewPortType">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewMessageRequest"/>
			<wsdl:output message="tns:NewMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="NewPortType2">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewMessage"/>
			<wsdl:output message="tns:NewMessage2"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewBinding" type="tns:NewPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="NewBinding2" type="tns:NewPortType2">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewService">
		<wsdl:port name="NewPort" binding="tns:NewBinding">
			<soap:address location="Geen doel adres"/>
		</wsdl:port>
		<wsdl:port name="NewPort2" binding="tns:NewBinding2">
			<soap:address location="No Target Address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
