Lazarus/wsdlStub/Testing/allTypes/CreateServiceRequest_2_REQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.rabobank.nl/CRM/CRMI/CreateServiceRequest/2/Req"
            xmlns:req="http://www.rabobank.nl/CRM/CRMI/CreateServiceRequest/2/Req"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>Generated 20-6-2012 10:25:36 using GenerateXsd version 0.86 7-12-2009
                       Based on version 0.9.2 dd 20-6-2012 of document "CreateServiceRequest version 2, Public Service Description"
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="CreateServiceRequest_Req">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:Relation"/>
        <xsd:element ref="req:LocalBank"/>
        <xsd:element ref="req:Arrangement" minOccurs="0"/>
        <xsd:element ref="req:CommercialProductType" minOccurs="0"/>
        <xsd:element ref="req:ServiceRequest"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Relation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:RelationId"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LocalBank">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:BankCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Arrangement">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:ArrangementNumber"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CommercialProductType">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:AdministrationCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ServiceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:Reference" minOccurs="0"/>
        <xsd:element ref="req:ContextId" minOccurs="0"/>
        <xsd:element ref="req:SourceSystemId"/>
        <xsd:element ref="req:OriginDescriptionCode"/>
        <xsd:element ref="req:TypeCode"/>
        <xsd:element ref="req:StatusCode"/>
        <xsd:element ref="req:CancellationReasonCode" minOccurs="0"/>
        <xsd:element ref="req:EmployeeReadOnlyFlag"/>
        <xsd:element ref="req:Description"/>
        <xsd:element ref="req:Comment" minOccurs="0"/>
        <xsd:element ref="req:CategoryCode"/>
        <xsd:element ref="req:SubCategoryCode" minOccurs="0"/>
        <xsd:element ref="req:MeansOfCommunicationCode"/>
        <xsd:element ref="req:FulfillmentAreaCode"/>
        <xsd:element ref="req:StartDate"/>
        <xsd:element ref="req:PlannedEndDate"/>
        <xsd:element ref="req:EndDate" minOccurs="0"/>
        <xsd:element ref="req:Employee" minOccurs="0"/>
        <xsd:element ref="req:ListOfActivities" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RelationId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BankCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="4"/>
        <xsd:fractionDigits value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ArrangementNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AdministrationCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Reference">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ContextId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SourceSystemId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="OriginDescriptionCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TypeCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StatusCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CancellationReasonCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="EmployeeReadOnlyFlag">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Description">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="100"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Comment">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2000"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CategoryCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubCategoryCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MeansOfCommunicationCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FulfillmentAreaCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StartDate" type="xsd:dateTime"/>
  <xsd:element name="PlannedEndDate" type="xsd:dateTime"/>
  <xsd:element name="EndDate" type="xsd:dateTime"/>
  <xsd:element name="Employee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:EmployeeId"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ListOfActivities">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:Activity" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EmployeeId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Activity">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:StatusCode"/>
        <xsd:element ref="req:TaskReference" minOccurs="0"/>
        <xsd:element ref="req:SourceSystemId"/>
        <xsd:element ref="req:SourceFunctionId" minOccurs="0"/>
        <xsd:element ref="req:OriginDescriptionCode" minOccurs="0"/>
        <xsd:element ref="req:TypeCode"/>
        <xsd:element ref="req:Description"/>
        <xsd:element ref="req:Comment" minOccurs="0"/>
        <xsd:element ref="req:SubjectGroupCode"/>
        <xsd:element ref="req:SubjectCode"/>
        <xsd:element ref="req:StartDate" minOccurs="0"/>
        <xsd:element ref="req:EndDate" minOccurs="0"/>
        <xsd:element ref="req:PlannedEndDate" minOccurs="0"/>
        <xsd:element ref="req:PriorityCode" minOccurs="0"/>
        <xsd:element ref="req:RoleCode" minOccurs="0"/>
        <xsd:element ref="req:ActivityEmployee" minOccurs="0"/>
        <xsd:element ref="req:DocumentVersion" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TaskReference">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SourceFunctionId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubjectGroupCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SubjectCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PriorityCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="RoleCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ActivityEmployee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:Employee"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DocumentVersion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="req:DocumentType"/>
        <xsd:element ref="req:Title"/>
        <xsd:element ref="req:DocumentFile"/>
        <xsd:element ref="req:Employee"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DocumentType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Title">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="255"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="DocumentFile">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Content" type="req:base64Binary"/>
        <xsd:element ref="req:FileName"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FileName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="200"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
